<h1>Edit director</h1>

<% @director.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%= form_with(model: @director) do |form| %>
 <div>
    <%= form.label :name %>

    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :date_of_birth %>

    <%= form.date_field :date_of_birth, rows: 3 %>
  </div>

  <%= form.button %>
<% end %>
